@import "dok/assets/css/main.scss";
// personal
@import "utils/fonts.scss";
@import "utils/typography.scss";
@import "components/homepage.scss";
@import "components/index.scss";
@import "components/article.scss";
@import "components/newsletter.scss";
@import "components/footer.scss";
@import "components/news.scss";
@import "components/shop.scss";
@import "components/journal.scss";

:root {
  // Fonts
  --font-body: "inter-regular", Helvetica, Arial, sans-serif;
  --font-body-italic: "inter-italic", Helvetica, Arial, sans-serif;
  --font-body-bold: "inter-bold", Helvetica, Arial, sans-serif;
  --font-body-bold-italic: "inter-bolditalic", Helvetica, Arial, sans-serif;
  --font-var: "savate-regular", Helvetica, Arial, sans-serif;
  --font-var-italic: "savate-italic", Helvetica, Arial, sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --body-color: #f6f4f2;
  --border-md: 3px;
  --action-color: #ffd906;
  // --action-color: #20a56b;
  --content-max-width: 820px;
}

html {
  font-size: 18px;
  @include media("<sm") {
    font-size: 15px;
  }
}

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.6;
  word-spacing: -0.1em;
}