.article--sub .article__title a {
  border: none;
  &:hover {
    background-color: var(--body-color);
  }
}

.toc__title--sub {
  @extend %ts-body;
  font-family: var(--font-body);
}

.article--sub {
  border-top-style: dashed;
}

.article__parent {
  @extend %ts-small;
  @extend %ts-link-alt;
}
.article__backlinks {
  @extend %ts-small;
  @extend %ts-link-alt;
}