.article--sub .article__title a {
  border: none;
  &:hover {
    background-color: var(--body-color);
  }
}

.toc__title--sub {
  @extend %ts-body;
  font-family: var(--font-body);
}

.article--sub {
  border-top-style: dashed;
}

.ts {
  blockquote {
    border-left: calc(var(--border-sm)*3) solid var(--base-color);
    p {
      @extend %ts-title-3;
    }
  }
}