.page--homepage header {
  position: fixed;
}
.intro {
  width: 100%;
  min-height: 85vh;
  display: flex;
  background-image: url('images/incubator.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 75%;
  position: relative;
  padding-top: calc(var(--size-xxl)*2);
  &:before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: var(--base-color);
    // opacity: .2;
    opacity: 0;
  }
  section {
    position: relative;
    color: var(--body-color);
    width: 100%;
    max-width: 980px;
    margin-top: auto;
    margin-bottom: var(--size-xxl);
  }
  p {
    margin-bottom: .5em;
    & + p {
      margin-top: 0;
    }
    span {
      line-height: 1.35;
      @include media('<sm') {
        font-size: var(--size-xl);
      }
      a {
        position: relative;
      }
    }
  }
  .button {
    color: var(--body-color);
    background-color: transparent;
    border: var(--border-md) solid var(--body-color);
    @include media('<sm') {
      border-width: var(--border-md);
    }
    display: inline-block;
    &:hover {
      transform: rotate(-6deg);
    }
  }
}

.page--homepage footer {
  margin-top: var(--size-xxl);
  min-height: 100vh;
  background-image: url('images/drawing-house.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right bottom;
  @include media('<sm') {
    min-height: 80vh;
    background-size: contain;
    background-position: center;
  }
  display: flex;
  p {
    margin-top: auto;
  }
}