.intro {
  width: 760px;
  max-width: 100%;
  p {
    margin-bottom: .5em;
    & + p {
      margin-top: 0;
    }
    span {
      background-color: var(--body-color);
      line-height: 1.35;
      a {
        position: relative;
      }
    }
  }
  section {
    --base-color: #20a56b;
    color: var(--base-color);
    
  }
  .button {
    color: var(--body-color);
    background-color: var(--base-color);
    border: var(--border-md) solid var(--body-color);
    &:hover {
      background-color: var(--action-color);
    }
  }
}

.page--homepage .main {
  background-image: url('images/drawing-house.png');
  background-size: auto 110%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-size: auto 110%;
  @include media('<md') {
    background-position: 50%;
  }
}