.index:not(.index--featured) .index__link {
  @extend %ts-title-4;
  font-family: var(--font-body) !important;
}

.index--list .index__item {
  margin-top: var(--size-xxs);
}

.index--grid {
  .grid__item {
    background-color: var(--body-color);
  }
  .item__link:hover {
    transform: rotate(-2deg);
  }
  .item__price {
    margin-top: var(--size-xs);
  }
}

