body > .shopify-buy-frame--product {
  display: none;
}
.article.shop figure img {
  margin-left: 0;
}
.article.shop figcaption {
  display: none;
}
.article.shop .article--sub {
  border-top: none;
  padding-top: 0;
}
.article.shop .item__link {
  position: relative;
}
.article.shop .item__price {
  margin-top: var(--size-xs);
}

.shopify-buy__product__variant-selectors {
  width: 100% !important;
}

.shopify-buy-cart-wrapper.is-active:before{
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  content: "";
  width: var(--border-sm);
  background-color: var(--base-color);
  height: 100%;
}

.shopify-buy__select-icon {display: none;}
.shopify-buy__option-select__label {
  @extend %ts-small;
  margin-bottom: var(--size-xxs);
  display: block;
}
.item_shop select {
  width: 100%;
  background-color: #FFFFFF;
  border: var(--border-sm) solid var(--base-color);
  padding: var(--size-xs);
  margin-bottom: var(--size-xs);
}
.shopify-buy__btn {
  width: 100%;
  background-color: var(--base-color);
  color: var(--body-color);
  border: none;
  padding: var(--size-md);
  @extend %ts-title-2;
}


.item_shop {
  margin-bottom: var(--size-lg) ;
  .item__price {
    margin-top: calc(-1 * var(--size-xs));
    @extend %font-body;
    font-size: var(--size-lg);
    margin-bottom: var(--size-md);
    span {
      @extend %ts-small;
    }
  }
  .item__desc {
    margin-bottom: var(--size-sm);
  }
  .item__info {
    margin-top: var(--size-sm);
    @extend %ts-small;
  }
}