<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset=utf-8>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title property="schema:name">{{ settings.title }} - {{ settings.description }}</title>
    <meta name="description" content="{{ settings.description }}">
    <meta property="schema:name" content="{{ settings.title }}">
    <meta property="schema:description" content="{{ settings.description }}">
    <link rel="stylesheet" href="assets/main.min.css">
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.antoine.studio/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>

  <body class="page page--{{ page_class }}">
    <main class="main">
      <header class="header">
        <nav class="nav">
          <ul class="nav__list">
            {% for item in settings.navigation %}
            <li class="nav__item">
              <a href="{{ settings.navigation[item] }}.html" class="nav__link">{{ item }}</a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <!-- content -->
      {% block content %}{% endblock %}
      <!-- /content -->
      <footer class="footer">
        {{ settings.footer }}
      </footer>
    </main>
  </body>
</html>