{% extends "base.html" %} {% set page_class = 'homepage' %} {% block content %}

<article class="intro ts">
  <p>We make fermented food, open-source tools and explore collaboration with natural processes to promote understanding, transparency, resilience and equity in our global food system.</p>
  <p>→&nbsp;<a href="about-en.html">About us</a></p>
  <section class="traduction">
    <p>Elaboramos comida fermentada, herramientas de código abierto y exploramos la colaboración con los procesos naturales para promover la comprensión, la transparencia, la resiliencia y la equidad en nuestro sistema alimentario global.</p>
    <p>→&nbsp;<a href="about-es.html">Sobre nosotrxs</a></p>
  </section>
</article>


{% endblock %}