{% extends "base.html" %} {% set page_class = 'homepage' %} {% block content %}

<article class="intro ts">
  <section>
    <p><span><a href="about.html" class="button">Domingo Club</a> makes fermented <a href="food.html" class="button">food</a>, open-source <a href="tools.html" class="button">tools</a> and explores collaboration with natural processes to promote understanding, transparency, resilience and equity in our global food system. <a href="join.html" class="button">Join the club!</a></span></p>
  </section>
</article>


{% endblock %}