{% extends "base.html" %} {% set page_class = 'homepage' %} {% block content %}

<article class="intro ts">
  <p><span>We make fermented food, open-source tools and explore collaboration with natural processes to promote understanding, transparency, resilience and equity in our global food system.</span></p>
  <p><a href="about-en.html" class="button">→&nbsp;About us</a> <a href="about-en.html" class="button">→&nbsp;Join the club</a></p>
  <section class="traduction">
    <p><span>Elaboramos comida fermentada, herramientas de código abierto y exploramos la colaboración con los procesos naturales para promover la comprensión, la transparencia, la resiliencia y la equidad en nuestro sistema alimentario global.</span></p>
    <p><a href="about-es.html" class="button">→&nbsp;Sobre nosotrxs</a> <a href="" class="button">→&nbsp;Ùnete al club</a></p>
  </section>
</article>


{% endblock %}