@font-face {
  font-family: "inter-regular";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-regular";
  src: url("fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-italic";
  src: url("fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-italic";
  src: url("fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-bold";
  src: url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-bold";
  src: url("fonts/Inter-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-bolditalic";
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "inter-bolditalic";
  src: url("fonts/Inter-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}