%ts-link {
  color: var(--base-color);
  text-decoration: none;
  background-color: var(--body-color);
  border: var(--border-sm) solid var(--base-color);
  padding: calc(var(--size-xxs)/2) var(--size-xxs);
  border-radius: var(--size-xs);
  &:hover {
    color: var(--base-color);
    text-decoration: none;
    background-color: var(--action-color);
  }
  &.external:after {
    content: "\00a0↗";
  }
}

%font-base {
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  letter-spacing: 0.03em;
}

%font-var {
  font-family: var(--font-var);
  @extend %font-base;
  line-height: 1.2 !important;
}

%font-var-italic {
  font-family: var(--font-var-italic);
  @extend %font-base;
}

%font-monospace {
  font-family: var(--font-monospace);
  @extend %font-base;
}

%ts-title-0,
%ts-title-1,
%ts-title-2,
%ts-title-3,
%ts-title-4 {
  @extend %font-var;
}

.ts {
  code {
    @extend %font-monospace;
  }
  p code {
    border-radius: var(--size-xxs);
    font-size: 95%;
  }
  blockquote {
    border-left: calc(var(--border-sm)*3) solid var(--base-color);
    p {
      @extend %ts-title-3;
    }
  }
}